*.md  			@pagelsr           //any file needs to be reviewed by pagelsr           
README.MD 	@somebody	 //the readme needs to be reviewed by somebody
/docs/*		@docs-team	 //all the documents need to have approval from somebody of the docs-team
*.js 			@js-team     //all the js files need approval from the js-team
